.btn {
    background-color: #4077C1;
    color: #ffffff;
    border: none;
    width: 132px;
    height: 40px;
    text-transform: uppercase;
    font-family: $fontRoboto;
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin: 54px 51px 0 0;
    cursor: pointer;
}